In [3]:
import pandas as pd

covid_df = pd.read_csv('italy-covid-daywise.csv')
print(covid_df)

           date  new_cases  new_deaths  new_tests
0    2019-12-31        0.0         0.0        NaN
1    2020-01-01        0.0         0.0        NaN
2    2020-01-02        0.0         0.0        NaN
3    2020-01-03        0.0         0.0        NaN
4    2020-01-04        0.0         0.0        NaN
..          ...        ...         ...        ...
243  2020-08-30     1444.0         1.0    53541.0
244  2020-08-31     1365.0         4.0    42583.0
245  2020-09-01      996.0         6.0    54395.0
246  2020-09-02      975.0         8.0        NaN
247  2020-09-03     1326.0         6.0        NaN

[248 rows x 4 columns]

In [13]:
# Querying and sorting rows

#Let's say we want to look at the days which had more than 1000 reported cases. 
#We can use a boolean expression to check which rows satisfy this criterion.
more1000Cases = covid_df.new_cases>1000
# print(more1000Cases) # series of boolean
# print(covid_df[more1000Cases])

# in one line
# print(covid_df[covid_df.new_cases > 1000])
# by default jupyter print first and last five rows
# to print all rows
print(covid_df[covid_df.new_cases > 1000].to_string()) 
# second way by importing display module

# from IPython.display import display

# with pd.option_context('display.max_rows',100):
#     print(display(covid_df[covid_df.new_cases>1000]))

           date  new_cases  new_deaths  new_tests
68   2020-03-08     1247.0        36.0        NaN
69   2020-03-09     1492.0       133.0        NaN
70   2020-03-10     1797.0        98.0        NaN
72   2020-03-12     2313.0       196.0        NaN
73   2020-03-13     2651.0       189.0        NaN
74   2020-03-14     2547.0       252.0        NaN
75   2020-03-15     3497.0       173.0        NaN
76   2020-03-16     2823.0       370.0        NaN
77   2020-03-17     4000.0       347.0        NaN
78   2020-03-18     3526.0       347.0        NaN
79   2020-03-19     4207.0       473.0        NaN
80   2020-03-20     5322.0       429.0        NaN
81   2020-03-21     5986.0       625.0        NaN
82   2020-03-22     6557.0       795.0        NaN
83   2020-03-23     5560.0       649.0        NaN
84   2020-03-24     4789.0       601.0        NaN
85   2020-03-25     5249.0       743.0        NaN
86   2020-03-26     5210.0       685.0        NaN
87   2020-03-27     6153.0       660.0        NaN
88   2020-03-28     5959.0       971.0        NaN
89   2020-03-29     5974.0       887.0        NaN
90   2020-03-30     5217.0       758.0        NaN
91   2020-03-31     4050.0       810.0        NaN
92   2020-04-01     4053.0       839.0        NaN
93   2020-04-02     4782.0       727.0        NaN
94   2020-04-03     4668.0       760.0        NaN
95   2020-04-04     4585.0       764.0        NaN
96   2020-04-05     4805.0       681.0        NaN
97   2020-04-06     4316.0       527.0        NaN
98   2020-04-07     3599.0       636.0        NaN
99   2020-04-08     3039.0       604.0        NaN
100  2020-04-09     3836.0       540.0        NaN
101  2020-04-10     4204.0       612.0        NaN
102  2020-04-11     3951.0       570.0        NaN
103  2020-04-12     4694.0       619.0        NaN
104  2020-04-13     4092.0       431.0        NaN
105  2020-04-14     3153.0       564.0        NaN
106  2020-04-15     2972.0       604.0        NaN
107  2020-04-16     2667.0       578.0        NaN
108  2020-04-17     3786.0       525.0        NaN
109  2020-04-18     3493.0       575.0        NaN
110  2020-04-19     3491.0       480.0        NaN
111  2020-04-20     3047.0       433.0     7841.0
112  2020-04-21     2256.0       454.0    28095.0
113  2020-04-22     2729.0       534.0    44248.0
114  2020-04-23     3370.0       437.0    37083.0
115  2020-04-24     2646.0       464.0    95273.0
116  2020-04-25     3021.0       420.0    38676.0
117  2020-04-26     2357.0       415.0    24113.0
118  2020-04-27     2324.0       260.0    26678.0
119  2020-04-28     1739.0       333.0    37554.0
120  2020-04-29     2091.0       382.0    38589.0
121  2020-04-30     2086.0       323.0    41441.0
122  2020-05-01     1872.0       285.0    43732.0
123  2020-05-02     1965.0       269.0    31231.0
124  2020-05-03     1900.0       474.0    27047.0
125  2020-05-04     1389.0       174.0    22999.0
126  2020-05-05     1221.0       195.0    32211.0
127  2020-05-06     1075.0       236.0    37771.0
128  2020-05-07     1444.0       369.0    13665.0
129  2020-05-08     1401.0       274.0    45428.0
130  2020-05-09     1327.0       243.0    36091.0
131  2020-05-10     1083.0       194.0    31384.0
134  2020-05-13     1402.0       172.0    37049.0
236  2020-08-23     1071.0         3.0    47463.0
237  2020-08-24     1209.0         7.0    33358.0
240  2020-08-27     1366.0        13.0    57640.0
241  2020-08-28     1409.0         5.0    65135.0
242  2020-08-29     1460.0         9.0    64294.0
243  2020-08-30     1444.0         1.0    53541.0
244  2020-08-31     1365.0         4.0    42583.0
247  2020-09-03     1326.0         6.0        NaN

In [35]:
# adding new column


covid_df['positiveRate'] = covid_df.new_cases / covid_df.new_tests
print(covid_df['positiveRate'].to_string())

0           NaN
1           NaN
2           NaN
3           NaN
4           NaN
5           NaN
6           NaN
7           NaN
8           NaN
9           NaN
10          NaN
11          NaN
12          NaN
13          NaN
14          NaN
15          NaN
16          NaN
17          NaN
18          NaN
19          NaN
20          NaN
21          NaN
22          NaN
23          NaN
24          NaN
25          NaN
26          NaN
27          NaN
28          NaN
29          NaN
30          NaN
31          NaN
32          NaN
33          NaN
34          NaN
35          NaN
36          NaN
37          NaN
38          NaN
39          NaN
40          NaN
41          NaN
42          NaN
43          NaN
44          NaN
45          NaN
46          NaN
47          NaN
48          NaN
49          NaN
50          NaN
51          NaN
52          NaN
53          NaN
54          NaN
55          NaN
56          NaN
57          NaN
58          NaN
59          NaN
60          NaN
61          NaN
62          NaN
63          NaN
64          NaN
65          NaN
66          NaN
67          NaN
68          NaN
69          NaN
70          NaN
71          NaN
72          NaN
73          NaN
74          NaN
75          NaN
76          NaN
77          NaN
78          NaN
79          NaN
80          NaN
81          NaN
82          NaN
83          NaN
84          NaN
85          NaN
86          NaN
87          NaN
88          NaN
89          NaN
90          NaN
91          NaN
92          NaN
93          NaN
94          NaN
95          NaN
96          NaN
97          NaN
98          NaN
99          NaN
100         NaN
101         NaN
102         NaN
103         NaN
104         NaN
105         NaN
106         NaN
107         NaN
108         NaN
109         NaN
110         NaN
111    0.388598
112    0.080299
113    0.061675
114    0.090877
115    0.027773
116    0.078110
117    0.097748
118    0.087113
119    0.046307
120    0.054186
121    0.050337
122    0.042806
123    0.062918
124    0.070248
125    0.060394
126    0.037906
127    0.028461
128    0.105671
129    0.030840
130    0.036768
131    0.034508
132    0.031058
133    0.018778
134    0.037842
135    0.021590
136    0.025418
137    0.019406
138    0.026116
139    0.025861
140    0.011212
141    0.021053
142    0.016362
143    0.014935
144    0.015313
145    0.019558
146    0.025682
147    0.008838
148    0.010644
149    0.014659
150    0.015510
151    0.014313
152    0.014371
153    0.019664
154    0.006946
155    0.015872
156    0.011694
157    0.004374
158    0.015219
159    0.009680
160    0.012085
161    0.008696
162    0.007474
163    0.006123
164    0.010066
165    0.004957
166    0.011711
167    0.019355
168    0.010842
169    0.006184
170    0.009963
171    0.011586
172   -0.004954
173    0.010740
174    0.013868
175    0.009516
176    0.003737
177    0.019612
178    0.010448
179    0.008580
180    0.008261
181    0.011237
182    0.004426
183    0.004842
184    0.006244
185    0.007827
186    0.007704
187    0.011103
188    0.013942
189    0.009249
190    0.004777
191    0.006445
192    0.007853
193    0.010845
194    0.008152
195    0.016707
196    0.006977
197    0.004015
198    0.005767
199    0.008025
200    0.008379
201    0.012075
202    0.015438
203    0.007945
204    0.004370
205    0.008480
206    0.010563
207    0.008981
208    0.010883
209    0.013110
210    0.006630
211    0.006543
212    0.008624
213    0.012868
214    0.011879
215    0.012043
216    0.017673
217    0.006769
218    0.006389
219    0.011937
220    0.013194
221    0.020728
222    0.015237
223    0.042461
224    0.011739
225    0.015075
226    0.018573
227    0.020991
228    0.022131
229    0.027993
230    0.022312
231    0.009790
232    0.009712
233    0.012927
234    0.018690
235    0.020316
236    0.022565
237    0.036243
238    0.020809
239    0.015089
240    0.023699
241    0.021632
242    0.022708
243    0.026970
244    0.032055
245    0.018311
246         NaN
247         NaN

In [36]:
# print(covid_df)
# How to delete a colmn
covid_df.drop(columns=['positiveRate'], inplace=True)
print(covid_df)

           date  new_cases  new_deaths  new_tests
0    2019-12-31        0.0         0.0        NaN
1    2020-01-01        0.0         0.0        NaN
2    2020-01-02        0.0         0.0        NaN
3    2020-01-03        0.0         0.0        NaN
4    2020-01-04        0.0         0.0        NaN
..          ...        ...         ...        ...
243  2020-08-30     1444.0         1.0    53541.0
244  2020-08-31     1365.0         4.0    42583.0
245  2020-09-01      996.0         6.0    54395.0
246  2020-09-02      975.0         8.0        NaN
247  2020-09-03     1326.0         6.0        NaN

[248 rows x 4 columns]

In [39]:
# Sorting rows using column values

covid_df.sort_values('new_cases', ascending=False).head(10)

          date  new_cases  new_deaths  new_tests
82  2020-03-22     6557.0       795.0        NaN
87  2020-03-27     6153.0       660.0        NaN
81  2020-03-21     5986.0       625.0        NaN
89  2020-03-29     5974.0       887.0        NaN
88  2020-03-28     5959.0       971.0        NaN
83  2020-03-23     5560.0       649.0        NaN
80  2020-03-20     5322.0       429.0        NaN
85  2020-03-25     5249.0       743.0        NaN
90  2020-03-30     5217.0       758.0        NaN
86  2020-03-26     5210.0       685.0        NaN